# -----------------------------------------------------------------------------
# build.properties.sample
#
# This is an example "build.properties" file, used to customize building
# for your local environment.  Make any changes you need, and rename this file
# to "build.properties" in the same directory that contains the Ant
# "build.xml" file.
#
# $Id: build.properties.sample,v 1.1 2001/03/27 05:25:34 craigmcc Exp $
# -----------------------------------------------------------------------------

# The directory containing your binary distribution of JUnit 3.2 or later.
junit.home=/usr/local/junit3.5




